body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

nav {
    display: flex;
    flex-direction: row;

    align-items: center;
    background-color: black;
    color: white;
}

ul.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

p {
    margin-left: 2%;
    padding: 10px 10px;
    font-size: 30px;
    margin-right: 20%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

button {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.dropdown {display: none}

.dropdown_ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 8%;
    left: 1145px;
    background-color: lightgray;

}

.dropdown_ul a {
    color: black;
    padding: 8px 8px;
}

.dropdown_ul a:hover {
    background-color: black;
    color: white;
}